<?xml version="1.0"?>
<launch>

	<!-- ALL VISUALIZATION NODES GETS LAUNCHED HERE -->
	
	<group name = "visualizing nodes">
	
		<include file="$(find turtlebot3_gazebo)/launch/scene1.launch" arg="waffle"/> 
		<include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch" args="$(find turtlebot3_navigation)/maps/map.yaml" arg="waffle"/> 
		
	</group>

	<!-- ALL PROCESSING NODES GETS LAUNCHED HERE -->
	
	<group name = "cloud processing nodes">
	
		<node pkg="tb_apala" name= "Depth_calculation" type="yolo_depth.py"/>

		<env name="GMON_OUT_PREFIX" value="organize" />
		<node pkg = "tb_apala" name= "cloud_processing" type = "organize" />	

		<node pkg="tb_apala" name= "clustering_prediction_node" type="prediction.py"/> 
	 
	</group>

	

	<!-- ALL NAVIGATION NODES GETS LAUNCHED HERE -->
	 	
	<group name = "navigation nodes">	 		
		
	 	<node pkg="tb_apala" name= "navigation" type="move.py"/>
	 	
	</group>

	
	 	
	<!-- ALL MONITORING NODES GETS LAUNCHED HERE -->
 	 
	<group name = "monitoring nodes">
	 	
	 	<node name="monitor_plot1" pkg="rqt_plot" type="rqt_plot" args=" /eventually_dist1 /eventually_dist2  /halting_h1 /halting_h2  "/>
    	<node name="monitor_plot2" pkg="rqt_plot" type="rqt_plot" args="  /human_h1 /human_h2 "/>
	 	
	</group>
<!-- 
	<include file="$(find cpu_monitor)/launch/cpu_monitor.launch">
    <arg name="poll_period" value="2.0"/>
  	</include>  -->


</launch>